//extends layout

h1 #{title}

meta(charset="iso-8859-1")
form( method='post', action='/arduino' )
	fieldset
	legend Incluir nuevo Arduino

	div.clearfix
	label Arduino
		div.input
			input(name='nombre', class='xlarge')

	div.clearfix
	label IP
		div.input
			input(name='ip', class='xlarge')

	div.clearfix
		label MAC
		div.input
			input(name='mac', class='xlarge')

	div.clearfix
		label Netmask
		div.input
			input(name='netmask', class='xlarge')

	div.clearfix
		label Gateway
		div.input
			input(name='gateway', class='xlarge')

	div.clearfix
		label DNS
		div.input
			input(name='dns', class='xlarge')

	div.clearfix
		label Uso
		div.input
			input(name='uso', class='xlarge')

	div.actions
		input(type='submit', value='Guardar', class='btn primary')
		button(type='reset', class='btn') Cancelar
