// arduinoRescan.js
//=======================================================================
//extends layout

h1 #{title}

meta(charset="iso-8859-1")
form( method='post', action='/arduino/rescan' )
	div.clearfix
	label Red
		div.input
			input(name='red', class='xlarge')

	div.actions
		input(type='submit', value='Rescan', class='btn primary')
		button(type='reset', class='btn') Cancelar

div
	a(href='/arduinos', class='btn primary') Regresar
